{block title}{_pages.page_settings.title}{/block}
{block header}{_pages.page_settings.title}{/block}
{block content}
    <div class="col-md-6">
        {control pageSettingsForm}
    </div>
{/block}