{block title}{_pages.module_settings.title}{/block}
{block header}{_pages.module_settings.title}{/block}
{block content}
    <div class="col-md-12">
        {control moduleSettingsForm}
    </div>
{/block}