{block title}{_pages.vote_sites.edit.title} - {_pages.vote_sites.title}{/block}
{block header}{_pages.vote_sites.title}{/block}
{block subheader}{_pages.vote_sites.edit.title}{/block}
{block content}
    <div class="col-md-6">
        {control voteSiteForm}
    </div>
{/block}