{block title}{_pages.service_settings.title}{/block}
{block header}{_pages.service_settings.title}{/block}
{block content}
    <div class="col-md-12">
        {control serviceSettingsForm}
    </div>
{/block}