global:
    csrf_expired: "Formulář expiroval. Obnov stránku a zkus to znovu."
    confirm_continue: "Opravdu chceš pokračovat?"
    enabled: "Zapnuto"
    disabled: "Vypnuto"
##### AUTH ####
login:
    username: "Uživ. jméno"
    password: "Heslo"
    sign_in: "Přihlásit se"
    username_empty: "Prosím, zadej své uživ. jméno."
    password_empty: "Prosím, zadej své heslo."
    username_incorrect: "Uživ. jméno neexistuje."
    password_incorrect: "Heslo je nesprávné."
    connection_failed: "Připojení k autentifikační databázi se nezdařilo. Zkus to později."
register:
    username_used: "Toto uživ. jméno je již použito."
    username_min_length: "Uživ. jméno musí mít alespoň %d znaky."
    email: "E-mail"
    email_empty: "Prosím, zadej svou e-mailovou adresu."
    email_invalid: "Prosím, zadej správnou e-mailovou adresu."
    email_blacklisted: "Tvůj e-mailový server je v černé listině. Vyber si jiný."
    password_max_length: "Maximální délka hesla je %d znaků."
    password_again: "Zadej své heslo znovu"
    password_verify: "Hesla se neshodují."
    register: "Vytvořit nový účet"
    not_robot: "Zaškrtni, pokud nejsi robot."
lostpass:
    lost_password: "Ztracené heslo"
    submit: "Odeslat žádost"
    confirm:
        submit: "Změnit heslo"
#### LOGGED IN ####
global_character:
    select_character: "Vyber svou postavu"
    choose_character: "Vybrat ze seznamu"
    not_exists: "Vybraná postava neexistuje."
    not_enough_money: "Zvolená postava nemá dostatek peněz pro danou akci."
    not_owner: "Zvolená postava nepatří tvému účtu."
    select_empty: "Musíš si vybrat postavu, aby si mohl pokračovat dál."
    already_flagged: "Tvá postava už má vyžádaný rename / customize / změnu rasy."
    banned: "Tato postava je zabanovaná. Nemůže být vybrána."
    muted: "Tvůj účet má mute. Tato akce není následně povolena."
    submit: "Odeslat"
chartrade:
    choose_character: "Vybrat ze seznamu"
    select_character: "Vyber svou postavu, kterou chceš vyměnit"
    enter_character: "Zadej jméno postavy, za kterou chceš vyměnit"
    select_empty: "Musíš si vybrat postavu, aby si mohl pokračovat dál ve výměně."
    select_banned: "Nemůžeš vyměňovat zabanovanou postavu."
    dest_already_offer: "Osobě, jejíž posíláš nabídku na výměnu, už má nějakou."
    dest_banned: "Nemůžeš vyměnit za zabanovanou postavu."
    dest_privileged: "Nemůžeš měnit s administrátory."
    muted: "Nemůžeš měnit postavy, pokud máš mute."
    muted_dest: "Majitel této postavy má mute. Nelze udělat výměnu."
    banned_dest_acc: "Majitel této postavy má ban. Nelze udělat výměnu."
    not_owner: "Zvolená postava nepatří tvému účtu."
    dest_empty: "Musíš zadat jméno postavy, za kterou se chystáš vyměnit."
    dest_not_exists: "Cílová postava neexistuje."
    dest_same_owner: "Nemůžeš vyměňovat postavy v rámci jednoho účtu."
    submit: "Vytvořit nabídku"
    confirm: "Potvrdit"
    cancel: "Zrušit nabídku"
    confirm_error: "Nastala chyba při potvrzování. Zkus to později."
my_account:
    lock_account: "Uzamknout účet"
    unlock_account: "Odemknout účet"
    passchange:
        submit: "Poslat ověřovací e-mail na změnu hesla"
page_settings:
    page_name: "Název stránky"
    page_description: "Popis stránky"
    page_keywords: "Klíčová slova stránky"
    page_email: "E-mail stránky (na odesílání ověřovacích mailů)"
    page_email_empty: "Stránka musí mít nastavenou e-mailovou adresu. Prosím, zadej nějakou."
    page_email_sign: "Podpis e-mailu (použitý v patě e-mailu)"
    submit: "Změnit nastavení stránky"
manage_users:
    username_id: "Uživ. jméno nebo ID"
    username_id_empty: "Nemůžeš přidat roli nikomu."
    username_id_notfound: "Účet s tímto uživ. jménem/ID nebyl nalezen."
    user_has_role: "Tento uživatel již má přidělenou speciální roli."
    select_role: "Vybrat roli"
    select_low_value: "Úroveň této role je nejnižší. Ta se nepřidává."
    choose_role: "Vybrat ze seznamu"
    select_empty: "Žádná role nebyla vybrána. Vyber nějakou."
    add_submit: "Přidat novou roli"
    confirm_submit: "Změnit roli"
logs:
    username_id: "Uživ. jméno nebo ID"
    username_id_empty: "Nemůžeš hledat záznamy pro nikoho."
    username_id_notfound: "Účet s tímto uživ. jménem/ID nebyl nalezen."
    charname_id: "Jméno postavy nebo GUID"
    charname_id_empty: "Nemůžeš vyhledávat postavu bez jména/GUID."
    charname_id_notfound: "Postava s tímto jménem/GUID nebyla nalezena."
    email: "E-mail"
    ip: "Filtrovat podle IP"
    ip_description: "Můžeš používat wildcard vyhledávání, např. '192.168.56.%' Bude hledat v rozmezí 192.156.56.0-255."
    type: "Filtrovat podle typu"
    type_choose: "Vybrat typ"
    filter: "Filtrovat"
    search: "Hledat"
    chartrade:
        ip: "Adresa IP"
        search_cancelled: "Hledat také zrušeny nabídky na výměnu"
service_settings:
    rename: "Cena za přejmenování postavy"
    customize: "Cena za úpravu postavy"
    change_race: "Cena za změnu rasy na postavě"
    price_not_numeric: "Cena musí být číselná hodnota."
    price_empty: "Cena nemůže být prázdná."
    price_lower_than_zero: "Cena nemůže být menší než nula."
    submit: "Změnit nastavení"
module_settings:
    rename: "Přejmenování postavy"
    customize: "Úprava postavy"
    changerace: "Změna rasy na postavě"
    chartrade: "Výměna postáv"
    vote: "Hlasovací systém"
    donate: "Donate systém"
    submit: "Změnit nastavení"
vote_sites:
    name: "Názov stránky"
    name_empty: "Názov stránky nemůže být prázdný."
    url: "URL na hlasování"
    url_empty: "URL na hlasování nemůže být prázdná."
    url_valid: "Zadej validní URL adresu."
    check_url: "URL na ověření hlasu"
    check_url_empty: "URL na ověření hlasu nemůže být prázdná."
    check_url_valid: "Zadej validní URL adresu."
    image_path: "Cesta k obrázku stránky"
    image_path_description: "Relativní cesta od PROJECT_PATH/assets/images/vote_sites/."
    image_width: "Šírka obrázku"
    image_width_description: "V pixelech (px)."
    image_width_numeric: "Šírka obrázku musí být číselná hodnota."
    image_width_min: "Šírka obrázku nemůže být menší než nula."
    image_height: "Výška obrázku"
    image_height_description: "V pixelech (px)."
    image_height_numeric: "Výška obrázku musí byť číselná hodnota."
    image_height_min: "Výška obrázku nemůže být menší než nula."
    points: "Pointy"
    points_empty: "Pointy nemohou být prázdné."
    points_numeric: "Pointy musí být číselná hodnota."
    points_min: "Pointy nemohou být míň než nula."
    cooldown: "Doba k dalšímu hlasování"
    cooldown_empty: "Doba nemůže být prázdná."
    cooldown_description: "V hodinách."
    cooldown_numeric: "Doba musí být číselná hodnota."
    cooldown_min: "Doba nemůže být menší než nula."
    script_id: "Script ID"
    script_id_empty: "Script ID nemůže být prázdný."
    script_id_description: "Nechytej, ak nevíš, co děláš."
    script_id_numeric: "Script ID musí být číselná hodnota."
    confirm: "Potvrdit změny"
    add: "Přidat novou stránku"
donate_products:
    price: "Cena"
    price_empty: "Cena produktu nemůže být prázdná."
    price_numeric: "Cena musí být číselná hodnota."
    price_min: "Cena nemůže být menší než nula."
    points: "Deffender Coiny"
    points_empty: "Coiny nemohou být prázdné."
    points_numeric: "Coiny musí být číselná hodnota."
    points_min: "Coiny nemohou být míň než nula."
    bonus_points: "Bonusové DC"
    bonus_points_numeric: "Bonusové Coiny musí být číselná hodnota."
    bonus_points_min: "Bonusové Coiny nemohou být míň než nula."
    confirm: "Potvrdit změny"
    add: "Přidat nový produkt"
