global:
    csrf_expired: "Form has expired. Please refresh and try again."
    confirm_continue: "Do you really want to continue?"
    enabled: "Enabled"
    disabled: "Disabled"
##### AUTH ####
login:
    username: "Username"
    password: "Password"
    sign_in: "Sign in"
    username_empty: "Please enter your username."
    password_empty: "Please enter your password."
    username_incorrect: "The username does not exist."
    password_incorrect: "The password is incorrect."
    connection_failed: "Connection to the authentication database has failed. Please try again later."
register:
    username_used: "This username is already in use."
    username_min_length: "Username must have at least %d characters."
    email: "E-mail"
    email_empty: "Please enter your e-mail address."
    email_invalid: "Please insert a valid e-mail address."
    email_blacklisted: "Your e-mail server is blacklisted. Choose another one."
    password_max_length: "The maximum length of password is %d characters."
    password_again: "Enter your password again"
    password_verify: "Passwords do not match."
    register: "Create new account"
    not_robot: "Please prove you're not a robot."
lostpass:
    lost_password: "Lost password"
    submit: "Submit request"
    confirm:
        submit: "Change password"
#### LOGGED IN ####
global_character:
    select_character: "Select your character"
    choose_character: "Choose from list"
    not_exists: "Selected character does not exist."
    not_enough_money: "Selected character does not have enough money for that action."
    not_owner: "Selected character does not belong to your account."
    select_empty: "You must choose your character to continue."
    already_flagged: "Your character is already prompted to rename / customize / change race."
    banned: "Your character is banned. Cannot be selected."
    muted: "Your account is muted. Your action is forbidden."
    submit: "Submit"
chartrade:
    choose_character: "Choose from list"
    select_character: "Select your character to trade"
    enter_character: "Enter character name you want to trade with"
    select_empty: "You must choose your character to continue with trade."
    select_banned: "You cannot trade your banned character."
    dest_already_offer: "A person you are sending a trade offer has already offer by someone else."
    dest_banned: "You cannot trade for banned character."
    dest_privileged: "You cannot trade with admins."
    muted: "You cannot trade characters while you are muted."
    muted_dest: "Owner of this character has mute. Cannot trade."
    banned_dest_acc: "Owner of this character is banned. Cannot trade."
    not_owner: "Selected character does not belong to your account."
    dest_empty: "You must enter a character you want to trade with."
    dest_not_exists: "Destination character does not exist."
    dest_same_owner: "You cannot trade characters within same account."
    submit: "Make an offer"
    confirm: "Confirm"
    cancel: "Cancel offer"
    confirm_error: "There was an error during your confirmatiom. Please try again."
my_account:
    lock_account: "Lock account"
    unlock_account: "Unlock account"
    passchange:
        submit: "Send a verification e-mail for password change request"
page_settings:
    page_name: "Page title"
    page_description: "Page description"
    page_keywords: "Page keywords"
    page_email: "Page e-mail (used for verification e-mails)"
    page_email_empty: "Page must have an e-mail set. Please insert one."
    page_email_sign: "E-mail sign (used in the footer of e-mail)"
    submit: "Change page settings"
manage_users:
    username_id: "Username or ID"
    username_id_empty: "You cannot grant role to noone."
    username_id_notfound: "Account with that username/ID was not found."
    user_has_role: "That user has already a special role assigned."
    select_role: "Select role"
    select_low_value: "That role level is the lowest. It does not need to be granted."
    choose_role: "Choose from list"
    select_empty: "No role was selected. Please choose one."
    add_submit: "Add new role"
    confirm_submit: "Change role"
logs:
    username_id: "Username or ID"
    username_id_empty: "You cannot search logs for noone."
    username_id_notfound: "Account with that username/ID was not found."
    charname_id: "Character name or GUID"
    charname_id_empty: "You cannot lookup a character with no name/GUID."
    charname_id_notfound: "Character with that name/GUID was not found."
    email: "E-mail"
    ip: "Filter by IP"
    ip_description: "You can use wildcard search, e.g. '192.168.56.%' will search in range 192.156.56.0-255."
    type: "Filter by type"
    type_choose: "Choose a type"
    filter: "Filter"
    search: "Search"
    chartrade:
        ip: "IP Address"
        search_cancelled: "Search also for cancelled trade offers"
service_settings:
    rename: "Price for rename service"
    customize: "Price for customize service"
    change_race: "Price for race change service"
    price_not_numeric: "Price must be a numeric value."
    price_empty: "Price cannot be empty."
    price_lower_than_zero: "Price cannot be lower than zero."
    submit: "Change settings"
module_settings:
    rename: "Character rename"
    customize: "Character customization"
    changerace: "Character race change"
    chartrade: "Character trade"
    vote: "Voting system"
    donate: "Donate system"
    submit: "Change settings"
vote_sites:
    name: "Site name"
    name_empty: "Site name cannot be empty."
    url: "URL to vote"
    url_empty: "URL to vote cannot be empty."
    url_valid: "Please insert a valid URL address."
    check_url: "URL to check votes"
    check_url_empty: "URL to check votes cannot be empty."
    check_url_valid: "Please insert a valid URL address."
    image_path: "Site image path"
    image_path_description: "A relative path from PROJECT_PATH/assets/images/vote_sites/."
    image_width: "Image width"
    image_width_description: "In pixels (px)."
    image_width_numeric: "Image width must be a numeric value."
    image_width_min: "Image width cannot be lower than zero."
    image_height: "Image height"
    image_height_description: "In pixels (px)."
    image_height_numeric: "Image height must be a numeric value."
    image_height_min: "Image height cannot be lower than zero."
    points: "Points"
    points_empty: "Points cannot be empty."
    points_numeric: "Points must be a numeric value."
    points_min: "Points cannot be lower than zero."
    cooldown: "Next vote cooldown"
    cooldown_empty: "Cooldown cannot be empty."
    cooldown_description: "In hours."
    cooldown_numeric: "Cooldown must be a numeric value."
    cooldown_min: "Cooldown cannot be lower than zero."
    script_id: "Script ID"
    script_id_empty: "Script ID cannot be empty."
    script_id_description: "Do not touch if you do not know what are you doing."
    script_id_numeric: "Script ID must be a numeric value."
    confirm: "Confirm changes"
    add: "Add a new site"
donate_products:
    price: "Price"
    price_empty: "Price of the product cannot be empty."
    price_numeric: "Price must be a numeric value."
    price_min: "Price cannot be lower than zero."
    points: "Deffender Coins"
    points_empty: "Coins cannot be empty."
    points_numeric: "Coins must be a numeric value."
    points_min: "Coins cannot be lower than zero."
    bonus_points: "Bonus DC"
    bonus_points_numeric: "Bonus Coins must be a numeric value."
    bonus_points_min: "Bonus Coins cannot be lower than zero."
    confirm: "Confirm changes"
    add: "Add a new product"