global:
    csrf_expired: "Formulár expiroval. Obnov stránku a skús to znova."
    confirm_continue: "Naozaj chceš pokračovať?"
    enabled: "Zapnuté"
    disabled: "Vypnuté"
##### AUTH ####
login:
    username: "Použív. meno"
    password: "Heslo"
    sign_in: "Prihlásiť sa"
    username_empty: "Prosím, zadaj svoje použív. meno."
    password_empty: "Prosím, zadaj svoje heslo."
    username_incorrect: "Použív. meno neexistuje."
    password_incorrect: "Heslo je nesprávne."
    connection_failed: "Spojenie do autentifikačnej databázy zlyhalo. Skús to neskôr."
register:
    username_used: "Toto použív. meno je už použité."
    username_min_length: "Použív. meno musí mať aspoň %d znaky."
    email: "E-mail"
    email_empty: "Prosím, zadaj svoju e-mailovú adresu."
    email_invalid: "Prosím, zadaj správnu e-mailovú adresu."
    email_blacklisted: "Tvoj e-mailový server je v čiernej listine. Vyber si iný."
    password_max_length: "Maximálna dĺžka hesla je %d znakov."
    password_again: "Zadaj svoje heslo znova"
    password_verify: "Hesla sa nezhodujú."
    register: "Vytvoriť nový účet"
    not_robot: "Zaškrtni, ak nie si robot."
lostpass:
    lost_password: "Stratené heslo"
    submit: "Odoslať požiadavku"
    confirm:
        submit: "Zmeniť heslo"
#### LOGGED IN ####
global_character:
    select_character: "Vyber svoju postavu"
    choose_character: "Vybrať zo zoznamu"
    not_exists: "Vybraná postava neexistuje."
    not_enough_money: "Vybraná postava nemá dostatok peňazí pre danú akciu."
    not_owner: "Vybraná postava nepatrí tvojmu účtu."
    select_empty: "Musíš si vybrať postavu, aby si mohol pokračovať ďalej."
    already_flagged: "Tvoja postava už má vyžiadaný rename / customize / zmenu rasy."
    banned: "Táto postava je zabanovaná. Nemôže byť vybraná."
    muted: "Tvoj účet má mute. Táto akcia nie je následne povolená."
    submit: "Odoslať"
chartrade:
    choose_character: "Vybrať zo zoznamu"
    select_character: "Vyber svoju postavu, ktorú chceš vymeniť"
    enter_character: "Zadaj meno postavy, za ktorú chceš vymeniť"
    select_empty: "Musíš si vybrať postavu, aby si mohol pokračovať ďalej vo výmene."
    select_banned: "Nemôžeš vymieňať zabanovanú postavu."
    dest_already_offer: "Osobe, ktorej posielaš ponuku na výmenu, už má nejakú."
    dest_banned: "Nemôžeš vymeniť za zabanovanú postavu."
    dest_privileged: "Nemôžeš meniť s administrátormi."
    muted: "Nemôžeš meniť postavy, pokiaľ máš mute."
    muted_dest: "Majiteľ tejto postavy má mute. Nie je možné spraviť výmenu."
    banned_dest_acc: "Majiteľ tejto postavy má ban. Nie je možné spraviť výmenu."
    not_owner: "Vybraná postava nepatrí tvojmu účtu."
    dest_empty: "Musíš zadať meno postavy, za ktorú sa chystáš vymeniť."
    dest_not_exists: "Cieľová postava neexistuje."
    dest_same_owner: "Nemôžeš vymieňať postavy v rámci jedného účtu."
    submit: "Vytvoriť ponuku"
    confirm: "Potvrdiť"
    cancel: "Zrušiť ponuku"
    confirm_error: "Nastala chyba počas potvrdzovania. Skús to neskôr."
my_account:
    lock_account: "Uzamknúť účet"
    unlock_account: "Odomknúť účet"
    passchange:
        submit: "Poslať verifikačný e-mail na zmenu hesla"
page_settings:
    page_name: "Názov stránky"
    page_description: "Popis stránky"
    page_keywords: "Kľúčové slova stránky"
    page_email: "E-mail stránky (na odosielanie verifikačných mailov)"
    page_email_empty: "Stránka musí mať nastavenú e-mailovú adresu. Prosím, zadaj nejakú."
    page_email_sign: "Podpis e-mailu (použitý v päte e-mailu)"
    submit: "Zmeniť nastavenia stránky"
manage_users:
    username_id: "Použív. meno alebo ID"
    username_id_empty: "Nemôžeš pridať rolu nikomu."
    username_id_notfound: "Účet s týmto použív. menom/ID nebol nájdený."
    user_has_role: "Tento používateľ už má pridelenú špeciálnu rolu."
    select_role: "Vybrať rolu"
    select_low_value: "Úroveň tejto roly je najnižšia. Tá sa nepridáva."
    choose_role: "Vybrať zo zoznamu"
    select_empty: "Žiadna rola nebola vybraná. Vyber nejakú."
    add_submit: "Pridať novú rolu"
    confirm_submit: "Zmeniť rolu"
logs:
    username_id: "Použív. meno alebo ID"
    username_id_empty: "Nemôžeš hľadať záznamy pre nikoho."
    username_id_notfound: "Účet s týmto použív. menom/ID nebol nájdený."
    charname_id: "Meno postavy alebo GUID"
    charname_id_empty: "Nemôžeš vyhľadávať postavu bez mena/GUID."
    charname_id_notfound: "Postava s týmto menom/GUID nebola nájdená."
    email: "E-mail"
    ip: "Filtrovať podľa IP"
    ip_description: "Môžeš používať wildcard vyhľadávanie, napr. '192.168.56.%' bude hľadať v rozmedzí 192.156.56.0-255."
    type: "Filtrovať podľa typu"
    type_choose: "Vybrať typ"
    filter: "Filtrovať"
    search: "Hľadať"
    chartrade:
        ip: "Adresa IP"
        search_cancelled: "Hľadať taktiež zrušené ponuky na výmenu"
service_settings:
    rename: "Cena za premenovanie postavy"
    customize: "Cena za úpravu postavy"
    change_race: "Cena za zmenu rasy na postave"
    price_not_numeric: "Cena musí byť číselná hodnota."
    price_empty: "Cena nemôže byť prázdna."
    price_lower_than_zero: "Cena nemôže byť menšia ako nula."
    submit: "Zmeniť nastavenia"
module_settings:
    rename: "Premenovanie postavy"
    customize: "Úprava postavy"
    changerace: "Zmena rasy na postave"
    chartrade: "Výmena postáv"
    vote: "Hlasovací systém"
    donate: "Donate systém"
    submit: "Zmeniť nastavenia"
vote_sites:
    name: "Názov stránky"
    name_empty: "Názov stránky nemôže byť prázdny."
    url: "URL na hlasovanie"
    url_empty: "URL na hlasovanie nemôže byť prázdna."
    url_valid: "Zadaj validnú URL adresu."
    check_url: "URL na overenie hlasu"
    check_url_empty: "URL na overenie hlasu nemôže byť prázdna."
    check_url_valid: "Zadaj validnú URL adresu."
    image_path: "Cesta k obrázku stránky"
    image_path_description: "Relatívna cesta od PROJECT_PATH/assets/images/vote_sites/."
    image_width: "Šírka obrázka"
    image_width_description: "V pixeloch (px)."
    image_width_numeric: "Šírka obrázka musí byť číselná hodnota."
    image_width_min: "Šírka obrázka nemôže byť menšia ako nula."
    image_height: "Výška obrázka"
    image_height_description: "V pixeloch (px)."
    image_height_numeric: "Výška obrázka musí byť číselná hodnota."
    image_height_min: "Výška obrázka nemôže byť menšia ako nula."
    points: "Pointy"
    points_empty: "Pointy nemôžu byť prázdne."
    points_numeric: "Pointy musia byť číselná hodnota."
    points_min: "Pointy nemôžu byť menej ako nula."
    cooldown: "Doba k ďalšiemu hlasovaniu"
    cooldown_empty: "Doba nemôže byť prázdna."
    cooldown_description: "V hodinách."
    cooldown_numeric: "Doba musí byť číselná hodnota."
    cooldown_min: "Doba nemôže byť menšia ako nula."
    script_id: "Script ID"
    script_id_empty: "Script ID nemôže byť prázdne."
    script_id_description: "Nechytaj, ak nevieš, čo robíš."
    script_id_numeric: "Script ID musí byť číselná hodnota."
    confirm: "Potvrdiť zmeny"
    add: "Pridať novú stránku"
donate_products:
    price: "Cena"
    price_empty: "Cena produktu nesmie byť prázdna."
    price_numeric: "Cena musí byť číselná hodnota."
    price_min: "Cena nemôže byť menšia ako nula."
    points: "Deffender Coiny"
    points_empty: "Coiny nemôžu byť prázdne."
    points_numeric: "Coiny musia byť číselná hodnota."
    points_min: "Coiny nemôžu byť menej ako nula."
    bonus_points: "Bonusové DC"
    bonus_points_numeric: "Bonusové Coiny musia byť číselná hodnota."
    bonus_points_min: "Bonusové Coiny nemôžu byť menej ako nula."
    confirm: "Potvrdiť zmeny"
    add: "Pridať nový produkt"