{block title}{_pages.donate_products.edit.title} - {_pages.donate_products.title}{/block}
{block header}{_pages.donate_products.title}{/block}
{block subheader}{_pages.donate_products.edit.title}{/block}
{block content}
    <div class="col-md-6">
        {control donateProductForm}
    </div>
{/block}