{block title}{_pages.my_account.passchange.title} - {_pages.my_account.title}{/block}
{block header}{_pages.my_account.title}{/block}
{block subheader}{_pages.my_account.passchange.title}{/block}
{block content}
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            {_pages.my_account.passchange.description}
        </div>
    </div>
    <div class="col-md-6">
        {control changePassForm}
    </div>
{/block}