{block title}{_pages.manage_users.edit.title} - {_pages.manage_users.title}{/block}
{block header}{_pages.manage_users.title}{/block}
{block subheader}{_pages.manage_users.edit.title}{/block}
{block content}
    <div class="col-md-5">
        {control roledUserForm}
    </div>
{/block}